# Ignore all
*

# Except the following...

## Files
!.gitignore
!.env.example
!compose*.yml
!Dockerfile*
!.dockerignore
!README.md
!setup.sh
!init.dev.sql

## Folders
!scripts
!scripts/**
!shared
!shared/**
